<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQ登录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043107E71F91E29B00CB19AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043108001F91E29C00CB19AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0431080B1F91E29C00CB19AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
